<header>PICKR</header>

<!-- ALL PHOTOSTREAM -->
<div class="pure-g">
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
</div>

<!-- REGISTER AND LOGIN -->
<div class="pure-g">
    <div class="pure-u-1-2"><form method="post" action="/register">NEW HERE? Sign Up:<br><input type="text"><br><input type="text"><br><button>SUBMIT</button></form></div>
    <div class="pure-u-1-2"><form method="post" action="/login">LOGIN:<br><input type="text"><br><input type="text"><br><button>SUBMIT</button></form></div>
</div>

<!-- ALL PHOTOSTREAM -->
<div class="pure-g">
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
</div>

