<header>PICKR - logged in</header>

<!-- USER PHOTOSTREAM -->
<div>logout</div>
<div class="pure-g">
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
</div>

<!-- ALL PHOTOSTREAM -->
<div class="pure-g">
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
    <div class="pure-u-1-5"><img src="" alt=""></div>
</div>

